<!-- ABOUT ME -->
          <div class="box">
            <h2>About Me</h2>
            <p>I didn't go to school for programming in the pay tuition sense, but rather went to school in the author a gem sense (<%= link_to "bulk_youtube", 'https://rubygems.org/gems/bulk_youtube'%>). 
            <p>Or in the, learn d3.js by making a <%= link_to "visualization", 'http://mczapphome.us/'%> of mojo.com then giving a presentation at a ruby meetup, kind of sense.</p>
           	<p>I needed to learn how to deploy, so I practiced a uniciorn/nginx setup in vagrant - went to digital ocean, and <%= link_to "boomshakalaka", 'http://mczapphome.us/'  %>.</p>
           	<p>Need to make an ecommerce site in a week? <%= link_to "Do you like salsa?", 'http://www.josemadridsalsa.com/'  %> </p>
          </div>