<!-- CONTACT -->
          <div class="box clearfix">
            <h2>Contact</h2>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-phone fa-fw"></span></div>
              <div class="title only pull-right">330-612-6183</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
              <div class="title pull-right">Github  </div>
              <div class="description pull-right"><%= link_to "https://github.com/mzakany23", 'https://github.com/mzakany23'  %></div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-envelope fa-fw"></span></div>
              <div class="title only pull-right">mzakany@gmail.com</div>
            </div>
            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-twitter fa-fw"></span></div>
              <div class="title pull-right">Twitter</div>
              <div class="description pull-right"><%= link_to "https://twitter.com/mzakany", 'https://twitter.com/mzakany'  %></div>
            </div>

            <div class="contact-item">
              <div class="icon pull-left text-center"><span class="fa fa-linkedin fa-fw"></span></div>
              <div class="title pull-right">LinkedIn</div>
              <div class="description pull-right"><%= link_to "LinkedIn", 'https://www.linkedin.com/profile/preview?vpa=pub&locale=en_US'  %></div>
            </div>
          </div>

          