      <!-- EDUCATION -->
          <div class="box">
            <h2>Education</h2>
            <ul id="education" class="clearfix">
              <li>
                <div class="year pull-left">2004</div>
                <div class="description pull-right">
                  <h3>Ashland University</h3>
                  <p>Bachelors in Finance</p>
                </div>
              </li>
              <li>
                <div class="year pull-left">2004-2012</div>
                <div class="description pull-right">
                  <h3>Investment and Banking Industries</h3>
                  <p>Lots of investment management, i.e. stock market analysis, excel, python...</p>
                </div>
              </li>
          
              <li>
                <div class="year pull-left">2012</div>
                <div class="description pull-right">
                  <h3>Began path to web-dev ninja</h3>
                  <p>Lets use rails to create an api to be consumed by angularjs. <br> 
                    How about manage version our builds with git and servers with chef?
                    

                  </p>

                </div>
              </li>
            </ul>
          </div>