 <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experiences</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><%= link_to "Extracurricular",'http://www.meetup.com/members/108354402/'  %></div>
                <div class="year">2012 -</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Meetups</div>
                <div class="description">

                  Civic Hack Group - Built a scraper that built an api out of over 8000 vacant lots in cuyahoga county
                  and visualized it using leaflet.js, served rails/postgis.

                  <br>
                  <br>

                  Cleveland Ruby Brigade - Helped organize first hack night. Entered 2014 Cleveland Christmas Hackathon.Made Gift Gaurd, an accelerometer that is placed on a gift, and when shaken sends an iphone push notification and plays audio file... 

                </div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><%= link_to "JMI", 'http://www.josemadridsalsa.com/' %></div>
                <div class="year">2014</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Web Developer</div>
                <div class="description">Built ecommerce site with Spree (rails). Later switched to big commerce due to time constraints. So I build the front end and integrated google services and external quickbooks pos and web api.</div>
              </div>
            </div>
          </div>
        </div>