 <!-- EXPERIENCES -->
          <div class="box">
            <h2>Experiences</h2>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><%= link_to "Extracurricular",'http://www.meetup.com/members/108354402/'  %></div>
                <div class="year">2012 -</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Meetups</div>
                <div class="description">

                  Civic Hack Group - Built a scraper and an api out of over 7400 vacant lots in cuyahoga county,
                  and visualized it using leaflet.js. Served the backend with rails and postgis.

                  <br>
                  <br>

                  Cleveland Ruby Brigade - Helped organize first hack night. Entered 2014 Cleveland Christmas Hackathon.Our team crafted Gift Guard, an accelerometer that goes on top of a gift - and when shaken sends an iphone push notification and plays an audio file. We won 1st place... 

                </div>
              </div>
            </div>
            <div class="job clearfix">
              <div class="col-xs-3">
                <div class="where"><%= link_to "JMI", 'http://www.josemadridsalsa.com/' %></div>
                <div class="year">2014</div>
              </div>
              <div class="col-xs-9">
                <div class="profession">Web Developer</div>
                <div class="description">Built ecommerce site with Spree (rails). Later switched to big commerce due to time constraints. So I built the front end and integrated google services, external quickbooks point of sale, and web api.</div>
              </div>
            </div>
          </div>
        </div>