<!-- HOBBIES -->
          <div class="box">
            <h2>Hobbies</h2>
            <div class="hobby">Playing Soccer (go GFS!)</div>
            <div class="hobby">Learning new technologies</div>
            <div class="hobby">Making loop based music</div>
            <div class="hobby">Traveling the world with my wife</div>
          </div>