 <div class="row">
        <div class="col-xs-12">
          <div id="photo-header" class="text-center">
            <!-- PHOTO (AVATAR) -->
            <div id="photo">
              <%= image_tag('headshot1.jpg', alt: 'avatar') %>
            </div>
            <div id="text-header">
              <h1>Hello There,<br> my name is <span>Mike Zakany</span><sup>32yo</sup> and this is my resume.</h1>
              <br>
              <em><h3>I am a self taught <code> web developer </code> with a background in investment management.</h3></em>
            </div>
          </div>
        </div>
      </div>