<!-- SKILLS -->
<div class="box">
  <h2>Skills</h2>
  <div class="skills">
    <div class="item-skills" data-percent="0.55">Rails</div>
    <div class="item-skills" data-percent="0.70">Ruby</div>
    <div class="item-skills" data-percent="0.65">Python</div>
    <div class="item-skills" data-percent="0.25">Java</div>
    <div class="item-skills" data-percent="0.35">Django</div>
    <div class="item-skills" data-percent="0.40">Spree Commerce</div>
    <div class="item-skills" data-percent="0.40">Flask</div>
    <div class="item-skills" data-percent="0.45">Padrino</div>
    <div class="item-skills" data-percent="0.35">Chef</div>
    <div class="item-skills" data-percent="0.50">jQuery</div>
    <div class="skills-legend clearfix">
      <div class="legend-left legend">Beginner</div>
      <div class="legend-left legend"><span>Proficient</span></div>
      <div class="legend-right legend"><span>Expert</span></div>
      <div class="legend-right legend">Master</div>
    </div>
  </div>
</div>